doctype
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js")
    script(src="../javascripts/jquery-1.11.0.js")
    script(src='../javascripts/create-notes.js')
    script(src='../javascripts/bootstrap-growl.min.js')
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle
          a.navbar-brand(href="#")= title
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href="/") Home
    div.alert(role="success", data-growl="container")
      button.close(type="button",data-growl="dismiss")
        span(aria-hidden="true") ×
        span.sr-only Close
      span(data-growl="icon")
      span(data-growl="title")
      span(data-growl="message")
      a(href="#",data-growl="url")
    input.form-control#episodeId(type='hidden', value= episodeId)
    .container-fluid
      .row-fluid
        .panel.panel-default
          .panel-body
            form.form-horizontal  
              div.form-group
                label.col-md-1.control-label(for='showNumber') Episode
                div.col-md-2
                  input.form-control#showNumber(type='text', placeholder='Episode #')
              div.form-group
                label.col-md-1.control-label(for='episodeTitle') Show Title
                div.col-md-2
                  input.form-control#episodeTitle(type='text', placeholder='Witty Title')
          .panel-body
            button.btn-lg.btn-primary#save Save
        .panel.panel-default.col-md-6
          .panel-body
            input.form-control#segment-name(type='text', placeholder='Segment Name/Topic')
            textarea.form-control#editor
            button.btn-lg.btn-default#add-segment Add Segment
        .panel.panel-default.col-md-6
          .panel-body#segment-list