doctype
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(src="//cdn.quilljs.com/0.19.7/quill.js")
    script(src="../javascripts/jquery-1.11.0.js")
    script(src='../javascripts/create-notes.js')
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle
          a.navbar-brand(href="#")= title
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href="/") Home
    div.alert.alert-success#successMessage Episode Saved
    input.form-control#episodeId(type='hidden', value= episodeId)
    .container-fluid
      .row-fluid
        .panel.panel-default
          .panel-body
            form.form-horizontal  
              div.form-group
                label.col-md-1.control-label(for='showNumber') Episode
                div.col-md-2
                  input.form-control#showNumber(type='text', placeholder='Episode #')
              div.form-group
                label.col-md-1.control-label(for='episodeTitle') Show Title
                div.col-md-2
                  input.form-control#episodeTitle(type='text', placeholder='Witty Title')
          .panel-body
            button.btn-lg.btn-primary#save Save
        .panel.panel-default.col-md-6
          .panel-body
            input.form-control#segment-name(type='text', placeholder='Segment Name/Topic')
            div#basic-toolbar
            div#basic-editor
            button.btn.btn-default#add-segment Add Segment
        .panel.panel-default.col-md-6
          .panel-body#segment-list