doctype html
html
head
  title My Site
  script(src="/socket.io/socket.io.js")
  script(src="../javascripts/jquery-1.11.0.js")
  script(src='../javascripts/run-show.js')
body
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
.container
  .hero-unit
    h1 My First Clock
    p This is going to be the first page with an interactive podclock.
    h2: span#podclock 00:00:00 
    a#start-link(href="#") Start
      a#pause-link(href="#") Pause
        a#resume-link(href="#") Resume