.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-expand
        ul.nav
          li.active
            a(href="/") Home
.container
  .hero-unit
    h2 This Agile Life Podcast Clock
    h1
      button.btn-large.btn-primary#start-link 
        span#clock-label Click to Start/Pause/Resume
        h1: span#podclock 00:00:00
      button.btn-large.btn-danger.pull-right#reset-link Reset

.container
  .hero-unit.pull-left
    span.input-group.input-group-lg
      input.form-control#title-suggestion
    button.btn.btn-primary#suggest-title Suggest Title
    h2 Possible Show Titles
      
    h3: ol#show-titles
  .hero-unit.pull-right
    h2 Events & Time Codes
    div.btn-group
      button.btn.btn-default Um / Uh / And
      button.btn.btn-default Silence
      button.btn.btn-default Talk over
    h3: ul.unstyled#time-codes    