.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-expand
        ul.nav
          li.active
            a(href="/") Home
.container
  .hero-unit
    h2 This Agile Life Podcast Clock
    p 
    h2: a#reset-link(href="#") Reset
    h1: span#podclock 00:00:00 
    h2: a#start-link(href="#") Start
      h2: a#pause-link(href="#") Pause
        h2: a#resume-link(href="#") Resume

.container
  .hero-unit
    p: input#title-suggestion
    h3: button#suggest-title Suggest Title
    h2 Possible Show Titles
      
    h3: ol#show-titles